.startModalContainer {
  position: absolute;
  width: 95vw;
  height: 100vh;
  background: var(--blue);
  opacity: 0.5;
  top: 0;
  left: 0;
  border-radius: 0 10px 10px 0;
}

.startModalContainer img {
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.678);
  opacity: 1;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
}
